.para{
    color: red;
}
.newClass{
    background-color: blue;
}

.Div {
    background-color: green;
    align-self: center;
    color: aqua;
    height: 100px;
    width: 100px;
    border: 1px black;
}